# Base de datos
DB_ROOT_PASSWORD=root
DB_NAME=kinetic_db
DB_USERNAME=dev_user
DB_PASSWORD=dev_pass

# JWT
JWT_SECRET=KineticRehab2025SecretKeyParaFirmarJWTMuylargaSegura
JWT_EXPIRATION=28800000
JWT_REFRESH_EXPIRATION=604800000

# Perfil activo
SPRING_PROFILES_ACTIVE=dev
